<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DUMMY</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static.css/dashboard.css" rel="stylesheet">
        <link href="/static.css/sidebars.css" rel="stylesheet">
        <style>
            h2
            {
                text-align:center;
            }
        </style>
    </head>
    <body>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
    </svg>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#">PAE A</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/ktpdummy/data">Sign out</a>
            </div>
        </div>
    </header>

    <main class="d-flex flex-nowrap">
        <h1 class="visually-hidden">Sidebars examples</h1>

        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
<!--<a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Collapsible</span>
    </a>-->
        <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/ktpdummy/read" class="nav-link active" aria-current="page" style="background-color: rgb(34, 87, 126); border: none;">Dummy List</a>
      </li>
    </ul>
  </div>

  <div class="b-example-divider"></div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <center>
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">✧･ﾟ:DUMMY LIST:･ﾟ✧</h1> 
                </div>
            </center>
            <div class="container">
                <div class="butoon">
                    <a href="/ktpdummy/create" class="btn btn-outline-dark" style="background-color: rgb(146, 180, 236); border: none;">Tambah</a>
                </div><br>
                <table class="table">
                    <thead style="background-color: rgb(217, 215, 241)">
                        <tr>
                            <th>ID</th>
                            <th>Tanggal</th>
                            <th>Foto</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody th:each="data, index: ${data}">
                    <td th:text="${index.count}" th:id="${data.id}"></td>
                    <td th:text="${#dates.format(data.tanggal, 'dd-MM-yyyy')}"></td>
                    <td>
                        <img th:src="@{${'/img?id='+ data.id}}" alt="poto" width="200">
                    </td>
                    <td>
                        <a class="btn" th:href="@{/edit/{id}(id=${data.id})}" style="background-color: rgb(250, 255, 175); border: none;">Edit</a>
                        <a class="btn" href="#" th:onclick="|hapusData('${data.id}')|" style="background-color: rgb(149, 209, 204); border: none;">Delete</a>
                        </tbody>
                </table>
            </div>
            <script>
                const hapusData = val => {
                    if (confirm(`Yakin ingin menghapus data ${val}?`)) {
                        location.href = `/ktpdummy/delete/${val}`;
                    }
                }
            </script>
        </main>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>

<script src="/static.js/dashboard.js"></script>
<script src="/static.js/sidebars.js"></script>
</body>
</html>